<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Add a new job <small><%= link_to 'Cancel', jobs_path %></small></h1>
        <%= render 'form' %>        
    </div>
</div>
</div>


